<% @title = "Jobby - Potential Jobs" %>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/potentialjobs">Potential Jobs</a></li>
</ol>

<h1>Potential Jobs</h1>
<br />
<a class="btn btn-primary btn-xs" href="/potentialjobs/new">Add New</a>
<br />
<br />
<br />
<div class="list-group">
  <% @current_user.potential_jobs.each do |job| %>
    <a class="list-group-item" href="/potentialjobs/<%= job.id %>"><%= job.job_title %> at <b><%= job.company.name %></b> | <i><%= job.status %></i></a>
  <% end %>
</div>