<h1>You're sure?</h1>

<form action="/user" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button class="btn btn-danger btn-xs" type="submit" name="delete">Delete My Account</button>
</form>