<% @title = "Jobby - Confirm Deletion" %>

<h1>You're sure?</h1>

<hr />

<a class="btn btn-primary btn-xs" href="/">No, take me back to safety.</a>

<br/>
<br/>

<form action="/user" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button class="btn btn-danger btn-xs" type="submit" name="delete">Yes, delete all my info.</button>
</form>