<% @title = "Jobby - User Info" %>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/user">User</a></li>
</ol>

<h4><b>Username</b>: <%= @user.username %></h4>
<h4><b>Email</b>: <%= @user.email %></h4>

<a class="btn btn-default" href="/user/edit">Edit Info</a>

<br />
<br />

<a href="/delete" class="btn btn-danger btn-xs">Delete My Account</a>

