<form action="/contacts" method="post">
  <input type="text" name="name" placeholder="Contact Name">
  <input type="text" name="email" placeholder="Email">
  <input type="text" name="phone_number" placeholder="Phone Number">
  <br />
  <label>Choose an existing company:</label>
  <select name="company">
      <% @user.companies.each do |company|%>
          <option value="<%= company.id %>"><%= company.name %></option>
      <% end %>
  </select>
  <label>Or add a new company:</label>
  <input type="text" name="new_company" placeholder="New Company's Name">
  <input type="submit" name="submit" value="Add New Contact">
</form>