<% @title = "Jobby - Companies" %>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/companies">Companies</a></li>
</ol>

<h1>Companies</h1>
<br />
<a class="btn btn-primary btn-xs" href="/companies/new">Add New</a>
<br />
<br />
<br />
<div class="list-group">
    <% @current_user.companies.each do |company| %>
      <a class="list-group-item" href="/companies/<%= company.slug %>"><%= company.name %></a>
    <% end %>
</div>