<% @title = "Jobby - Add New Company" %>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/companies">Companies</a></li>
  <li><a href="/companies/new">Add New</a></li>
</ol>

<h1>Add a New Company</h1>

<form data-toggle="validator" role="form" action="/companies" method="post">
  <div class="form-group">
    <label class="control-label">Name</label>
    <input class="form-control" type="text" name="name" placeholder="Company Name" required>
  </div>
  <div class="form-group">
    <label>Website</label>
    <div class="input-group">
        <span class="input-group-addon">http://</span>
        <input class="form-control" type="text" name="website">
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Add New Company</button>
</form>
