<% @title = "Jobby - Add New Company" %>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/companies">Companies</a></li>
  <li><a href="/companies/new">Add New</a></li>
</ol>

<h1>Add a New Company</h1>

<form action="/companies" method="post">
  <div class="form-group">
    <input class="form-control" type="text" name="name" placeholder="Company Name">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="website" placeholder="Company Website">
  </div>
  <button class="btn btn-primary" type="submit">Add New Company</button>
</form>
