<form action="/companies" method="post">
  <input type="text" name="name" placeholder="Company Name">
  <input type="text" name="website" placeholder="Company Website">
  <input type="submit" name="submit" value="Add New Company">
</form>
