<% @title = "Jobby" %>

<h1>Welcome back, <%= @user.username %>!</h1>

<h3>You have <a href="/potential_jobs"><%= @user.potential_jobs.where("status = ?", "Not yet applied").length %></a> jobs waiting for applications.</h3>