<% @title = "Jobby" %>

<h1 class="text-center">Welcome to Jobby!</h1>
<h4 class="text-center">Jobby the job search house elf is here to help make your job search easier.</h4>
<img class="img-responsive center-block" src="/images/dobby-suit.png" alt="Dobby the house elf in a business suit" /  >
<br>
<div class="text-center">
        <a class="btn btn-primary" href="/signup">Sign Up</a> or <a class="btn btn-primary" href="/login">Log In</a>
</div>
