<% @title = "Jobby" %>

        <h1 class="text-center">Welcome to Jobby!</h1>
        <p class="text-center">
             <a class="btn btn-primary" href="/signup">Sign Up</a> or <a class="btn btn-primary" href="/login">Log In</a>
        </p>

