<% @title = "Jobby" %>

<h1 class="text-center">Welcome to Jobby!</h1>
<h4>Jobby the job search house elf is here to help make your job search easier.</h4>
<br />
<p class="text-center">
        <a class="btn btn-primary" href="/signup">Sign Up</a> or <a class="btn btn-primary" href="/login">Log In</a>
</p>
